body {
  margin: 30px;
}
.welcome {
  background: lightblue;
}
h1 {
  color: black;
  font-family: trebuchet MS;
  font-size: 2vmin;
  padding-top: 30px;
}
img {
  vertical-align: text-top;
}
h2 {
  color: black;
  font-family: trebuchet MS;
  font-size: 22px;
}
p {
  color: black;
  font-family: trebuchet MS;
  font-size: 18px;
}
#p01 {
  color: blue;
}
ul {
  color: black;
  font-family: trebuchet MS;
  font-size: 18px;
}
label {
  color: black;
  font-family: trebuchet MS;
  font-size: 16px;
}
value {
  color: black;
  font-family: trebuchet MS;
  font-size: 18px;
}
input {
  font-family: trebuchet MS;
}
#submit {
  background-color: light-gray;
  font-family: trebuchet MS;
  padding: 5px;
}

#submit:hover {
  background-color: pink;
  cursor: pointer;
}
